<div>
    {{#each posts}}

    <a href="/post/{{id}}">
        <h2>{{title}}</h2>
    </a>
    <h3>
        {{content}}
    </h3>
    <p>
        By: {{user.username}}
    </p>
    
    {{/each}}
</div>